@import './base.less';

h1.main-title {
  display: flex;
  align-items: center;
  font-size: 3.25cqw;

  .title-content {
    margin-left: 0.5em;
  }
}

.menu-button {
  width: 4.51cqw;
  height: 4.51cqw;
  padding: 0.9cqw;
  background-color: transparent;
  border: 0;
  border-radius: 9cqw;
  transition: all 0.2s;

  &:hover {
    background-color: var(--secondary-light-blue);
  }

  .colored-svg-box {
    transition: background-color 0.2s;
  }
}
